@{
    ViewData["Title"] = "Dashboard Page";
}
<div class="container">
    <div class="header">
        <h1>Welcome to the Wall, @ViewBag.CurrentUser.FirstName! </h1>
        <a href="Logout" class="logout">Log Out</a>
    </div>
    <div class="messageDiv">
        <h2>Post a Message:</h2>
        <form action="CreateMessage" method="post">
            <textarea name="MContent" cols="139" rows="6"></textarea>
            <input type="submit" class="btn btn-success" value="Post">
        </form>
    </div>

    <div class="allMessages">
        @{
            foreach(var message in ViewBag.AllMessages){
                <div class="message">
                    <p><b>@message.user.FirstName @message.user.LastName</b> said:</p>
                    <div class="MContent">
                        <p class="line">@message.MContent</p>
                        <div class="moveRight">
                            @foreach(var comment in ViewBag.AllComments){
                                    <div class='comment'>
                                        @comment.MessageId
                                        <p><b>@comment.user.FirstName @comment.user.LastName</b> said:</p>
                                        <p>@comment.CContent</p>
                                    </div>
                            }
                            <p>Comment:</p>
                            <form action="CreateComment" method="post">
                                <textarea name="CContent" cols="142" rows="3"></textarea><br>
                                <input name="MessageId" type="hidden" value="@message.MessageId">
                                <input type="submit" class="btn btn-success" value="Post">
                        </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>